scripts/n8n/workflows/cf-marcar-procesado.json
{
  "name": "ClaUsina - Marcar procesado",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "cf-marcar-procesado",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        300
      ],
      "webhookId": "cf-marcar-procesado"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE contenido.revisiones SET derivado_en=now() WHERE id=$1::uuid AND estado='rechazada' RETURNING id",
        "options": {
          "queryReplacement": "={{ $json.query.id }}"
        }
      },
      "id": "b",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        440,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "DRC5p50dRb5kYMOn",
          "name": "Postgres Cortafuego (claude)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ok:true,marcado:$json.id||null}) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "c",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        660,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}