scripts/n8n/workflows/cf-pub-publish.json
{
  "name": "Cortafuego - Publicar (Fase C)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "cf-pub-publish",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "Webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        120,
        600
      ],
      "webhookId": "cf-pub-publish"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE contenido.revisiones SET estado='aprobada', aprobado_por='Fer', aprobado_en=now() WHERE token=$1 AND estado='pendiente_aprobacion' RETURNING caption, token, pieza_id, formato, (SELECT url FROM contenido.media WHERE pieza_id=revisiones.pieza_id AND orden=1) AS asset_ig, (SELECT tipo FROM contenido.media WHERE pieza_id=revisiones.pieza_id AND orden=1) AS tipo_media, (SELECT p.ig_colaboradores FROM contenido.proyectos p WHERE p.id=(SELECT proyecto_id FROM contenido.piezas WHERE id=revisiones.pieza_id)) AS colaboradores",
        "options": {
          "queryReplacement": "={{ $json.query.token }}"
        }
      },
      "id": "Aprobar",
      "name": "Aprobar",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        300,
        600
      ],
      "credentials": {
        "postgres": {
          "id": "DRC5p50dRb5kYMOn",
          "name": "Postgres Cortafuego (claude)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.pieza_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "huboCambio",
      "name": "huboCambio",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        480,
        600
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Esta publicación ya fue decidida.",
        "options": {}
      },
      "id": "RespYa",
      "name": "RespYa",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        660,
        760
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $('Aprobar').item.json.formato }}",
              "rightValue": "story",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "esStory",
      "name": "esStory",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        660,
        600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $('Aprobar').item.json.tipo_media }}",
              "rightValue": "video",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "esStoryVideo",
      "name": "esStoryVideo",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        840,
        440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.instagram.com/v19.0/27632458043024661/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "media_type",
              "value": "STORIES"
            },
            {
              "name": "video_url",
              "value": "={{ $('Aprobar').item.json.asset_ig }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ContainerStoryVid",
      "name": "ContainerStoryVid",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        360
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "ZqmyQ7hDQYu8xWC9",
          "name": "Cortafuego IG Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.instagram.com/v19.0/27632458043024661/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "media_type",
              "value": "STORIES"
            },
            {
              "name": "image_url",
              "value": "={{ $('Aprobar').item.json.asset_ig }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ContainerStoryImg",
      "name": "ContainerStoryImg",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        520
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "ZqmyQ7hDQYu8xWC9",
          "name": "Cortafuego IG Token"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT count(*) AS n FROM contenido.media WHERE pieza_id=$1",
        "options": {
          "queryReplacement": "={{ $('Aprobar').item.json.pieza_id }}"
        }
      },
      "id": "MediaCount",
      "name": "MediaCount",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        840,
        760
      ],
      "credentials": {
        "postgres": {
          "id": "DRC5p50dRb5kYMOn",
          "name": "Postgres Cortafuego (claude)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.n }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "EsCarrusel",
      "name": "EsCarrusel",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1020,
        760
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT url FROM contenido.media WHERE pieza_id=$1 ORDER BY orden",
        "options": {
          "queryReplacement": "={{ $('Aprobar').item.json.pieza_id }}"
        }
      },
      "id": "MediaList",
      "name": "MediaList",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1200,
        660
      ],
      "credentials": {
        "postgres": {
          "id": "DRC5p50dRb5kYMOn",
          "name": "Postgres Cortafuego (claude)"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.instagram.com/v19.0/27632458043024661/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "image_url",
              "value": "={{ $json.url }}"
            },
            {
              "name": "is_carousel_item",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "Child",
      "name": "Child",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1380,
        660
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "ZqmyQ7hDQYu8xWC9",
          "name": "Cortafuego IG Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { children: $input.all().map(i => i.json.id).filter(Boolean).join(',') } }];"
      },
      "id": "JoinChildren",
      "name": "JoinChildren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        660
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.instagram.com/v19.0/27632458043024661/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "media_type",
              "value": "CAROUSEL"
            },
            {
              "name": "children",
              "value": "={{ $json.children }}"
            },
            {
              "name": "caption",
              "value": "={{ $('Aprobar').item.json.caption }}"
            },
            {
              "name": "collaborators",
              "value": "={{ JSON.stringify($('Aprobar').item.json.colaboradores || []) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "CarouselCont",
      "name": "CarouselCont",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        660
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "ZqmyQ7hDQYu8xWC9",
          "name": "Cortafuego IG Token"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $('Aprobar').item.json.tipo_media }}",
              "rightValue": "video",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "EsVideo",
      "name": "EsVideo",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1200,
        860
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.instagram.com/v19.0/27632458043024661/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "media_type",
              "value": "REELS"
            },
            {
              "name": "video_url",
              "value": "={{ $('Aprobar').item.json.asset_ig }}"
            },
            {
              "name": "caption",
              "value": "={{ $('Aprobar').item.json.caption }}"
            },
            {
              "name": "collaborators",
              "value": "={{ JSON.stringify($('Aprobar').item.json.colaboradores || []) }}"
            },
            {
              "name": "user_tags",
              "value": "={{ JSON.stringify(($('Aprobar').item.json.colaboradores || []).map(u=>({username:u}))) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ContainerReel",
      "name": "ContainerReel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        800
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "ZqmyQ7hDQYu8xWC9",
          "name": "Cortafuego IG Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.instagram.com/v19.0/27632458043024661/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "image_url",
              "value": "={{ $('Aprobar').item.json.asset_ig }}"
            },
            {
              "name": "caption",
              "value": "={{ $('Aprobar').item.json.caption }}"
            },
            {
              "name": "media_type",
              "value": "IMAGE"
            },
            {
              "name": "collaborators",
              "value": "={{ JSON.stringify($('Aprobar').item.json.colaboradores || []) }}"
            },
            {
              "name": "user_tags",
              "value": "={{ JSON.stringify(($('Aprobar').item.json.colaboradores || []).map(u=>({username:u,x:0.5,y:0.9}))) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ContainerImg",
      "name": "ContainerImg",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        940
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "ZqmyQ7hDQYu8xWC9",
          "name": "Cortafuego IG Token"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.instagram.com/v19.0/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "status_code"
            }
          ]
        },
        "options": {}
      },
      "id": "CheckStatus",
      "name": "CheckStatus",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        600
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "ZqmyQ7hDQYu8xWC9",
          "name": "Cortafuego IG Token"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.status_code }}",
              "rightValue": "FINISHED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "esFinished",
      "name": "esFinished",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2180,
        600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.status_code }}",
              "rightValue": "ERROR",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{ $json.status_code }}",
              "rightValue": "EXPIRED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        }
      },
      "id": "esError",
      "name": "esError",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2180,
        760
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Instagram no pudo procesar el contenido (status ERROR/EXPIRED).",
        "options": {}
      },
      "id": "RespErr",
      "name": "RespErr",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2360,
        860
      ]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "WaitPoll",
      "name": "WaitPoll",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2360,
        680
      ],
      "webhookId": "cf-poll"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.instagram.com/v19.0/27632458043024661/media_publish",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "Publicar",
      "name": "Publicar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2380,
        540
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "ZqmyQ7hDQYu8xWC9",
          "name": "Cortafuego IG Token"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.instagram.com/v19.0/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "permalink"
            }
          ]
        },
        "options": {}
      },
      "id": "Permalink",
      "name": "Permalink",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2560,
        540
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "ZqmyQ7hDQYu8xWC9",
          "name": "Cortafuego IG Token"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE contenido.revisiones SET estado='publicada', ig_post_id=$2, ig_permalink=NULLIF($3,''), publicado_en=now() WHERE token=$1 RETURNING ig_post_id",
        "options": {
          "queryReplacement": "={{ [ $('Aprobar').item.json.token, $('Publicar').item.json.id, ($('Permalink').item.json.permalink || '') ] }}"
        }
      },
      "id": "MarcarPub",
      "name": "MarcarPub",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2740,
        540
      ],
      "credentials": {
        "postgres": {
          "id": "DRC5p50dRb5kYMOn",
          "name": "Postgres Cortafuego (claude)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!doctype html><meta charset=utf-8><meta name=viewport content='width=device-width,initial-scale=1'><body style='font-family:sans-serif;background:#080806;color:#f5f2ec;text-align:center;padding:60px 20px'><div style='font-size:2rem;font-weight:900;color:#ff4400'>CORTAFUEGO</div><h2 style='font-size:1.8rem'>Publicada</h2><p style='color:#8a8a82'>Ya podes cerrar esta pestana.</p></body>",
        "options": {}
      },
      "id": "Respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2920,
        540
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Aprobar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aprobar": {
      "main": [
        [
          {
            "node": "huboCambio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "huboCambio": {
      "main": [
        [
          {
            "node": "esStory",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RespYa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "esStory": {
      "main": [
        [
          {
            "node": "esStoryVideo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MediaCount",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "esStoryVideo": {
      "main": [
        [
          {
            "node": "ContainerStoryVid",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ContainerStoryImg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ContainerStoryVid": {
      "main": [
        [
          {
            "node": "CheckStatus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ContainerStoryImg": {
      "main": [
        [
          {
            "node": "CheckStatus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MediaCount": {
      "main": [
        [
          {
            "node": "EsCarrusel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EsCarrusel": {
      "main": [
        [
          {
            "node": "MediaList",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "EsVideo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MediaList": {
      "main": [
        [
          {
            "node": "Child",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Child": {
      "main": [
        [
          {
            "node": "JoinChildren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JoinChildren": {
      "main": [
        [
          {
            "node": "CarouselCont",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CarouselCont": {
      "main": [
        [
          {
            "node": "CheckStatus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EsVideo": {
      "main": [
        [
          {
            "node": "ContainerReel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ContainerImg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ContainerReel": {
      "main": [
        [
          {
            "node": "CheckStatus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ContainerImg": {
      "main": [
        [
          {
            "node": "CheckStatus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckStatus": {
      "main": [
        [
          {
            "node": "esFinished",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "esFinished": {
      "main": [
        [
          {
            "node": "Publicar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "esError",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "esError": {
      "main": [
        [
          {
            "node": "RespErr",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WaitPoll",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WaitPoll": {
      "main": [
        [
          {
            "node": "CheckStatus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publicar": {
      "main": [
        [
          {
            "node": "Permalink",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Permalink": {
      "main": [
        [
          {
            "node": "MarcarPub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MarcarPub": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}